@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
.header-links {
	display: flex;
	justify-content: space-between;
	margin-right: 5%;
	padding-top: 10px;
	font-size: 18px;
}
.header-links a{
	color: #889869;
}
a:hover {
    color:#b3c490;
}
.logo{
	margin-left: 5%;
}

@media (max-width: 400px) {
	.header-links {
		display: flex;
		flex-direction: column;
	}
}

.navigation__work-together {
	margin-right: 20px;
}

.navigation__portfolio {
	margin-right: 20px;
}

.header-line {
	width: 100vw;
	display: flex;
	align-self: flex-end;
}

.about {
	background-image: url(images/main_photo1_3.jpeg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	margin: 0 auto;
	align-items: center;
	min-height: 160vh;

	&__main {
		color: #000000;
		margin-right: 5%;
		text-align:start;
        animation: glow 2500ms linear infinite 2000ms;
        @keyframes glow {
        40% {
        text-shadow: 5px 8px 5px #3c3c3cbb;
        }
        }
    }
}

@media screen and (max-width: 1440px) {
	.about{
		background-image: url(images/main_photo1.jpg);
		min-height: 100vh;
	}
}
@media screen and (min-width: 1024px) {
	.about {
		min-height: 60vh;
		&__main {
			font-weight: 400;
			font-size: 20px;
			line-height: 37px;
			max-width: 43%;
			padding-right: 1%;
		}
	}
	
	.maintext-title {
		font-weight: 700;
		font-size: 25px;
		padding-bottom: 20px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.about {
		min-height: 50vh;

		&__main {
			max-width: 45%;
		}
	}
}

@media screen and (max-width: 767px) {
	.about {
		min-height: 45vh;
		font-size: 2vw;
		&__main {
			line-height: 25px;
			padding-right: 5%;
			width: 50%;
			color: #000000;
			margin: 0;
			

			.maintext-title {
				font-size: 2.5vw;
			}
		}
	}
}

marquee{
	margin-bottom: 10px;
	border: #b9c4ca 1px solid;
	padding-top: 10px;
	padding-bottom: 10px;
}

.information {
	text-align: center;
	font-size: 20px;
	font-family: "Montserrat";
	font-weight: 400px;
	letter-spacing: 3px;
	margin-top: 50px;
	margin-bottom: 50px;

	&__text{
		width: 100%;
		max-width: 1440px;
		margin: 0 auto;
	}
}


@media screen and (max-width: 1024px) {
	.information__text {
		font-size: 16px;
		margin-left: 10px;
		margin-right: 10px;
	}
}
@media screen and (max-width: 768px) {
	.information__text {
		font-size: 13px;
		margin-left: 10px;
		margin-right: 10px;
	}
}
@media screen and (max-width: 425px) {
	.information__text {
		font-size: 10px;
		margin-left: 10px;
		margin-right: 10px;
	}
}

.maincontainer{
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;

	&__text{
		font-size: 20px;
		letter-spacing: 0.1em;
		padding-bottom: 20px;
	}
}
.containers{
	display: flex;
}
.headline {
	margin-bottom: 40px;
	color: #889869;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
}
.container img{
	width: 360px;
	height: 500px;
}
.container {
	font-family: "Montserrat", sans-serif;
	color: white;
	/*margin-left: 50px;*/
	margin-bottom: 40px;
	padding: 40px;
	width: 360px;

	&__title {
		font-weight: 400;
		font-size: 30px;
		margin-bottom: 20px;
		text-align: center;
	}

}
.container1{
	background: #ecae7d;
}
.container2{
	background: #b9c4ca;
	margin-left: 30px;
}
.container3{
	background: #889869;
	margin-left: 30px;
}
.blogs{
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}
.blog{
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	margin-bottom: 50px;
	border-bottom: #889869 1px solid;

	&__img img{
		width: 300px;
		height: 400px;
	}
	&__text{
		width: 600px;
		letter-spacing: 1.3px;
	}
	&__text h4{
		margin-bottom: 20px;
	}
}
.img img{
	width: 600px;
}

@media screen and (max-width: 1440px){
	.maincontainer{
		margin-left: 50px;
	}
	.container2, .container3{
		margin-left: 15px;
	}
}

@media screen and (max-width: 1024px) {
	.maincontainer{
		margin-left: 20px;
	}
	.containers{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		margin-left: 260px;
	}
.maincontainer__text{
	font-size: 16px;
	width: 950px;
}
.blogs{
	margin-left: 20px;
}
}
@media screen and (max-width: 768px) {
	.maincontainer{

		&__text{
			width: 650px;
		}
	}
	.containers{
		margin-left: 160px;
	}
	.blog{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
	}
}
@media screen and (max-width: 425px) {
	.maincontainer{

		&__text{
			width: 350px;
		}
	}
	.containers{
		margin-left: 0;
	}
	.container{
		padding: 5px;
	}
	.blog{
		&__text{
			width: 400px;
		}
	}
}
	form {
		font-family: "Montserrat", sans-serif;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.form-title {
		text-align: center;
		color: #889869;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.form-item__title {
		font-size: 88%;
	}

	input {
		height: 35px;
		width: 540px;
		font-size: inherit;
		border-color: #b9c4ca;
		border-width: 0.5px;
		text-align: center;
	}

	.form-item {
		text-align: start;
		margin-bottom: 10px;
		padding: 5px;
	}

	textarea {
		height: 200px;
		width: 540px;
		border-color: #b9c4ca;
	}

	.agreement {
		display: flex;
		align-items: center;
		margin: 20px;
		font-size: 90%;
	}

	.checkbox {
		height: 25px;
		width: 25px;
		margin: 5px;
	}

	.submit-btn {
		background: #889869;
		color: #ffffff;
		height: 53px;
		width: 275px;
		border-radius: 0px;
		font-size: 24px;
		font-weight: 400;
		text-align: center;
		margin: 20px;
		border: #889869;
		cursor: pointer;
	}

	.submit-btn:hover {
		background: #9fb17b;
	}

	@media screen and (min-width: 481px) and (max-width: 768px) {
		form {
			min-width: 481px;
			max-width: 768px;
		}

		input {
			width: 430px;
		}

		textarea {
			max-width: 430px;
		}

		.form-item {
			font-size: small;
		}
	}

	@media screen and (max-width: 480px) {
		form {
			max-width: 480px;
		}

		input {
			max-width: 330px;
		}

		.form-item {
			font-size: small;
			max-width: 70%;
		}

		textarea {
			max-width: 330px;
			height: 100px;
		}

		.agreement {
			font-size: small;
			max-width: 325px;
			margin: 15px;
		}
	}
	.text-font {
		font-family: "Montserrat", sans-serif;
	}
	
	.services {
		margin-top: 20px;
		margin-bottom: 30px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.section-serv__h2 {
		width: 100%;
		color: rgba(136, 152, 105, 1);
		text-align: center;
		font-weight: 700;
		margin-bottom: 10px;
	}
	
	.section-serv_container {
		display: flex;
		flex-wrap: wrap;
	}
	
	.services-item {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.section-serv__p {
		align-self: center;
		font-weight: 500;
		margin-top: 10px;
	}
@media screen and (max-width: 767px) {
	.section-serv__h2 {
		font-size: 20px;
		padding: 0%;
	}

	.section-serv_container {
		width: 70vw;
	}

	.services-item {
		flex-wrap: wrap;
	}
	.section-serv__p {
		width: 100%;
		font-size: 14px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.section-serv__h2 {
		font-size: 25px;
	}

	.section-serv_container {
		width: 65vw;
	}

	.section-serv__p {
		width: 67%;
		font-size: 16px;
	}

	.services-item:first-child {
		margin-bottom: 8px;
	}
	.services-item:last-child {
		margin-top: 8px;
	}
}

@media screen and (min-width: 1024px) {
	.section-serv__h2 {
		font-size: 31px;
	}

	.section-serv_container {
		width: 55vw;
		margin-left: -20px;
	}

	.section-serv__p {
		width: 67%;
		font-size: 18px;
		line-height: 1.3em;
	}

	.services-item:first-child {
		margin-bottom: 7px;
	}
	.services-item:last-child {
		margin-top: 7px;
	}
}

.footer {
	width: 100vw;
	margin-left: 0;
	display: flex;
	align-content: flex-end;
	justify-content: center;
	background-color: #889869;
	padding-top: 20px;
	padding-bottom: 20px;
}